html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px;}

footer {
    text-align:center;
    padding:20px;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}

.navbar, .navbar-default, .container-fluid {
  border: none;
  background-color: white;
  box-shadow: none
}

a {
  padding: 5px
}


.btn:focus {
  outline: none;
}
